<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Informasi      <%= title %></h1>
    <pre>
      Welcome        <%= desc %>
      Jenis Kelamin  <%= jenkel %>
      umur           <%= age %>
    </pre>

    <script>
      console.log("<%= title %>");
    </script>
  </body>
</html>
