<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css"
    />
  </head>
  <body>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h1>Kategori</h1>
      <a href="kategori/create" class="create">Create</a>
    </div>

    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
  <% data.forEach(function(user, index) { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.nama_kategori %></td>
      <td><a href="/kategori/edit/<%= user.id_kategori %>" class="edit">Edit</a> <a href="/kategori/delete/<%= user.id_kategori %>" class="delete" onclick="return confirm('Apakah kamu yakin ingin menghapus kategori ini?');">Delete</a></td>
    </tr>
  <% }); %>

      </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>
    <script>
      let table = new DataTable("#myTable");
    </script>
  </body>
</html>
